@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --color-background: #ffffff;
  --color-text-primary: #828fa3;
  --color-text-secondary: #000112;
  --color-primary: #635fc7;
  --color-secondary: #bee2fd;
  --color-success: #67e2ae;
  --color-info: #49c4e5;
  --color-warning: #ea5555;
  --color-highlight: #8471f2;
  --color-dark-blue: #022959;
  --color-light-blue: #abbcff;
  --color-light: #e4ebfa;
  --color-grey-100: #f4f7fd;
}

.dark {
  --color-background: #20212c;
  --color-text-primary: #828fa3;
  --color-text-secondary: #ffffff;
  --color-primary: #635fc7;
  --color-secondary: #2b2c37;
  --color-success: #67e2ae;
  --color-info: #49c4e5;
  --color-light: #e4ebfa;
  --color-highlight: #8471f2;
  --color-light-blue: #20212c;
}

.hover-bg-opacity-10:hover {
  background-color: rgba(99, 95, 199, 0.1);
}

.board-active {
  @apply text-background bg-primary rounded-r-full;
}

.board-inactive {
  @apply hover:rounded-r-full hover:text-primary hover-bg-opacity-10;
}
